# This configures application's sockets and parameters

nmapFile              :=  /nojournal/bin/path/config/CAtestbed.nmap
logPath               :=  /nojournal/bin/path/logs/obuaware
logInterval           :=	120                     # in minutes
dsrcTimeout           :=  2                       # in seconds (remove inbound dsrc messages if timeout expires)
wmeListenSocket       :=  UDP:0.0.0.0:15000 			# send by wmefwd
wmeSendSocket         :=  UDP:127.0.0.1:15001     # dend to wmefwd  
