isPrioEligible	:= 	0 
codeWord				:=	MMITSS						# codeword size (1..16)
vehId           :=  2                 # unit32_t
vehLen          :=  5.0               # double
vehWidth        :=  2.0               # double
vehName					:=	obuCar_1					# vehName size (1..63)
vehVin					:=	obuCar_1					# vehVin size (1..17)
vehOwner				:=	California_PATH		# vehOwner size (1..32)
vehType					:=	4									# vehType: VehicleType_none	= 0, VehicleType_unknown	= 1, VehicleType_special	= 2,
																			#		VehicleType_moto	= 3, VehicleType_car	= 4, VehicleType_carOther	= 5, VehicleType_bus	= 6,
																			#		VehicleType_axleCnt2	= 7, VehicleType_axleCnt3	= 8, VehicleType_axleCnt4	= 9,
																			#		VehicleType_axleCnt4Trailer	= 10, VehicleType_axleCnt5Trailer	= 11, VehicleType_axleCnt6Trailer	= 12,
																			#		VehicleType_axleCnt5MultiTrailer	= 13, VehicleType_axleCnt6MultiTrailer	= 14, VehicleType_axleCnt7MultiTrailer	= 15
priorityLevel		:= 15									# prioLevel range (0..15). Can be omitted if  isPrioEligible ::= 0
																			

