# Each application can have at most two connections with WME, one on each interface (ath0 & ath1)
# Format of application configuration:   enable/disable : application name : wmeRegisterType : TxDirection : PSC
#   wmeRegisterType: user or provider
#     USER can receive and transmit WSMs, PROVIDER can transmit WSAs in addition to receive and transmit WSMs
#   TxDirection is between application and wmefwd:
#     TX    = sending from application and routed to over air message through wmefwd
#     RX    = routing received over the air messages to application
#     TX_RX = application sending and also receiving the same message broadcast from other parties, like other car's BSM, etc.

application   1:BSM:USER:TX_RX:MMITSS
application   1:SRM:USER:TX:MMITSS
application   1:MAP:USER:RX:MMITSS		
application   1:SPaT:USER:RX:MMITSS
application   1:ART:USER:RX:MMITSS

listenSocket  UDP:0.0.0.0:15001				# wmefwd listening on this IP:port to receive messages from the application 
                                      # the messages are then routed to over the air
                                      # should use IP 0.0.0.0 to listen on all interface as the application may or may not
                                      # reside on the dsrc unit
sendSocket    UDP:127.0.0.1:15000			# change the IP if the application is not resided on the dsrc unit

logFilePath   /nojournal/bin/path/logs/obuaware
